<!doctype html>
<html lang="fr">

<head>

    <%- include('partials/header') -%>
    <link href="/css/home.css" rel="stylesheet" type="text/css">

</head>

<body>
   <h1> Welcome to Netatmo App </h1>
</body>

</html>